---
layout: page
title: Différentes ressources
description: Ici se trouvent les différentes ressources utilisées pour les évènements de la TADx (slides, ...)
background: '/img/resources.jpg'
form: true
---

<p>Ci-dessous les différentes ressources utilisées pendant les sessions de la TADx.</p>
{% for resource in site.data.resources %}
{% if resource.resources and resource.post%}
<div class="container">
  <div class="row align-items-center">
      <div class="col-sm-auto">
          <a href="{{ resource.post }}">{{resource.date}}</a>
      </div>
      <div class="col-sm-auto w-25">
        <img src="{{resource.img}}" class="float-left img-thumbnail border-0">
      </div>
      <div class="col-sm">  
        {% for res in resource.resources %}        
        <a href="{{res.url}}" target="_blank">{{res.title}}</a><br>
        {% endfor %}
      </div>
  </div>
</div>
<hr>
{% endif %}
{% endfor %}

<div class="container">
  <div class="row align-items-center">
      <div class="col-sm-auto">
          <a href="{{ site.baseurl }}{% post_url 2021-11-16-22-eme-event %}">16/11/2021</a>
      </div>
      <div class="col-sm-auto w-25">
        <img src="./img/event22/philippe.morisseau.jpg" class="float-left img-thumbnail border-0">
      </div>
      <div class="col-sm">          
        <a href="https://drive.google.com/file/d/1ZZhzUoK0JX0JY5GGNwNnEB_ELhdAvr9S/view?usp=sharing" target="_blank">Les slides de Philippe</a><br>
        <a href="https://youtu.be/icvdFPYtB6Q">La vidéo de la conférence</a><br>
        <a href="https://docs.google.com/presentation/d/e/2PACX-1vTP-HPBp428oku3GRpjSpqxesq3sW-6wSOU_wqYFFis_3s-arsXCgaKvbzKC9yrsA/pub?start=false&loop=false&delayms=3000" target="_blank">Slides de TADx</a>
      </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row align-items-center">
      <div class="col-sm-auto">
          <a href="{{ site.baseurl }}{% post_url 2021-10-19-21-eme-event %}">19/10/2021</a>
      </div>
      <div class="col-sm-auto w-25">
        <img src="./img/event6.jpeg" class="float-left img-thumbnail border-0">
      </div>
      <div class="col-sm">          
        <a href="https://docs.google.com/presentation/d/1kRF5QHTHBZANjS3zx749hiigul6FZ8b07RHkrxGfgcU" target="_blank">Les slides de Philippe</a><br>
        <a href="https://gitlab.com/k33g_org/wasm-is-fun">Les sources de Philippe</a><br>
        <a href="https://youtu.be/yUs9iLP29Ko">La vidéo de la conférence</a><br>
        <a href="https://docs.google.com/presentation/d/e/2PACX-1vRTXGrZD04lI_qN94JnJoW7VoyIntQTqnCBz442UPN56y4wiYCHJ_c_B_tivjgFbA/pub?start=false&loop=false&delayms=3000" target="_blank">Slides de TADx</a>
      </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row align-items-center">
      <div class="col-sm-auto">
          <a href="{{ site.baseurl }}{% post_url 2021-09-07-20-eme-event %}">07/09/2021</a>
      </div>
      <div class="col-sm-auto w-25">
        <img src="./img/event20/orouhaud.jpg" class="float-left img-thumbnail border-0">
      </div>
      <div class="col-sm">          
        <a href="https://mm.tt/2010890000?t=H5fPJgdD8l" target="_blank">La mind map finale d'Olivier</a><br>
        <a href="#" data-toggle="modal" data-target="#liensOlivier">Les ressources présentées par Olivier</a><br>
        <a href="https://docs.google.com/presentation/d/e/2PACX-1vTlIvzesl_xWje6hJvr-KMDjNsVJPweroQprvLvolJys5J2vVkodp2ivDSCkyh11g/pub?start=false&loop=false&delayms=3000" target="_blank">Slides de TADx</a>
      </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row align-items-center">
      <div class="col-sm-auto">
          <a href="{{ site.baseurl }}{% post_url 2021-06-15-19-eme-event %}">15/06/2021</a>
        </div>
      <div class="col-sm-auto w-25">
        <img src="./img/GitHub_Logo.png" class="float-left img-thumbnail border-0">
      </div>
      <div class="col-sm">          
        <a href="https://www.youtube.com/watch?v=WpnPFBGl-y0" target="_blank">Vidéo de la conférence</a><br>
        <a href="https://docs.google.com/presentation/d/e/2PACX-1vTREXLpvXP-cxOHSd2-xZ-hNiVH0__Lwvua5kVcZg3FS9ljq4LZrs7jVx6h8kCpZg/pub?start=false&loop=false&delayms=3000" target="_blank">Slides de TADx</a>
      </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row align-items-center">
      <div class="col-sm-auto">
          <a href="{{ site.baseurl }}{% post_url 2021-05-20-18-eme-event %}">20/05/2021</a>
        </div>
      <div class="col-sm-auto w-25">
        <img src="./img/event18/banniere.png" class="float-left img-thumbnail border-0">
      </div>
      <div class="col-sm">          
        <a href="https://youtu.be/AJLL4PZa54g" target="_blank">Vidéo de la conférence</a><br>
        <a href="https://fr.slideshare.net/ThomasPierrain/extreme-248457948" target="_blank">Slides de la conférence</a><br>
        <a href="https://docs.google.com/presentation/d/e/2PACX-1vSMfopd5V2QZJ7T1UtPYKHjbI3w_vsaGV7MGGTjIEYzx69GUJq57L3oTtsJ1k2yRw/pub?start=false&loop=false&delayms=3000" target="_blank">Slides de TADx</a>
      </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row align-items-center">
      <div class="col-sm-auto">
          <a href="{{ site.baseurl }}{% post_url 2021-04-08-17-eme-event %}">04/08/2021</a>
        </div>
      <div class="col-sm-auto w-25">
        <img src="./img/TADx-map_V2.png" class="float-left img-thumbnail border-0">
      </div>
      <div class="col-sm">          
        <a href="https://youtu.be/kTDXdAGguF4" target="_blank">Vidéo de la conférence</a><br>
        <a href="https://docs.google.com/presentation/d/e/2PACX-1vRN7W03FRDouNrd2D9AbKeVLEK6qL1liRHgx-Ip-h6BZbImjohhQxsqvwG6C5QbbQ/pub?start=false&loop=false&delayms=3000" target="_blank">Slides de la conférence</a><br>
        <a href="https://docs.google.com/presentation/d/e/2PACX-1vSfVKeFfrToK8CgE17G-hBnXQY4njytSfv2mqJfGXIh5Jl3_jho9BtBepHv-Q8C9w/pub?start=false&loop=false&delayms=3000" target="_blank">Slides de TADx</a>
      </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row align-items-center">
      <div class="col-sm-auto">
          <a href="{{ site.baseurl }}{% post_url 2021-02-11-15-eme-event %}">11/02/2021</a>
        </div>
      <div class="col-sm-auto w-25">
        <img src="./img/event15/aurelie-gaelle.png" class="float-left img-thumbnail border-0">
      </div>
      <div class="col-sm">          
        <a href="https://youtu.be/hH4Rkj4_HzE" target="_blank">Vidéo de la conférence</a><br>
        <a href="http://bit.ly/kubernetes-plugin-krew-tadx" target="_blank">Slides de la conférence</a><br>
        <a href="https://docs.google.com/presentation/d/e/2PACX-1vQvtwZKG91gPuGFW-WDAk0yRRH1iwpugy6GP0Y-v-J0M3WbE-HX1myHROnQqZWrWg/pub?start=false&loop=false&delayms=3000" target="_blank">Slides de TADx</a>
      </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row align-items-center">
      <div class="col-sm-auto">
          <a href="{{ site.baseurl }}{% post_url 2021-01-13-14-eme-event %}">13/01/2021</a>
        </div>
      <div class="col-sm-auto w-25">
        <img src="./img/event14/logo-sylvain.png" class="float-left img-thumbnail border-0">
      </div>
      <div class="col-sm">          
        <a href="https://youtu.be/xtFC0GYFxKM" target="_blank">Vidéo de la conférence</a><br>
        <a href="https://slides.com/darkweak/go-inside-my-daily-routine/" target="_blank">Slides de la conférence</a><br>
        <a href="https://docs.google.com/presentation/d/e/2PACX-1vRTe8KR1EkPkVRDJdbUOwTKDi44J8ZWoY1rG5ZRTOOhZWdqIZk_m-BpXpx93npD5w/pub?start=false&loop=false&delayms=60000" target="_blank">Slides de TADx</a>
      </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row align-items-center">
      <div class="col-sm-auto">
          <a href="{{ site.baseurl }}{% post_url 2020-11-12-13-eme-event %}">17/12/2020</a>
        </div>
      <div class="col-sm-auto w-25">
        <img src="./img/event13/event13.png" class="float-left img-thumbnail border-0">
      </div>
      <div class="col-sm">          
        <a href="https://youtu.be/pfxL6bNWxmE" target="_blank">Vidéo de la conférence</a><br>
        <a href="https://docs.google.com/presentation/d/1OixTNIfjFOE2bbiE6fSpfIeUyuRdWAa4CvdxVBrX1zk/edit?userstoinvite=fdesmier%40gmail.com&ts=5fd8bcd6&actionButton=1#slide=id.gb1c47b3069_0_413" target="_blank">Slides de la conférence</a><br>
        <a href="https://docs.google.com/presentation/d/e/2PACX-1vSjunS-kHTctXWR1udT7H8KqSwSGvBTp-Uchn_eJjxn6H32tDeSe8PXkSFagp06xA/pub?start=false&loop=false&delayms=3000" target="_blank">Slides de TADx</a>
      </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row align-items-center">
      <div class="col-sm-auto">
          <a href="{{ site.baseurl }}{% post_url 2020-11-12-12-eme-event %}">16/11/2020</a>
        </div>
      <div class="col-sm-auto w-25">
        <img src="./img/event12/logo-aurelie.PNG" class="float-left img-thumbnail border-0">
      </div>
      <div class="col-sm">          
        <a href="https://youtu.be/7IxY7XkHSNU" target="_blank">Vidéo de la conférence</a><br>
        <a href="https://docs.google.com/presentation/d/1ppVieCHg8NG6N5-i4tMIP1EcjChep5AeIksutetfbTg/preview#slide=id.g714406e38db71814_1" target="_blank">Slides d'Aurélie</a><br>
        <a href="https://www.slideshare.net/tadx-group/tadx-aurlie-vache-le-syndrme-de-limposteur" target="_blank">Slides de TADx</a>
      </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row align-items-center">
      <div class="col-sm-auto">
          <a href="{{ site.baseurl }}{% post_url 2020-10-20-11-eme-event %}">20/10/2020</a>
        </div>
      <div class="col-sm-auto w-25">
        <img src="./img/event11/logo-horacio.jpeg" class="float-left img-thumbnail border-0">
      </div>
      <div class="col-sm">          
        <a href="https://youtu.be/x6DR_hk67yQ" target="_blank">Vidéo de la conférence</a><br>
        <a href="https://noti.st/lostinbrittany/mxhO4Q/lets-demystify-sketchnoting" target="_blank">Slides d'Horacio</a><br>
        <a href="https://www.slideshare.net/tadx-group/tadx-dmystifions-le-sketchnoting-matriaux-techniques-et-inspiration-horacio-gonzales" target="_blank">Slides de TADx</a>
      </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row align-items-center">
      <div class="col-sm-auto">
          <a href="{{ site.baseurl }}{% post_url 2020-09-24-10-eme-event %}">24/09/2020</a>
        </div>
      <div class="col-sm-auto w-25">
        <img src="./img/event10/logo-tu.png" class="float-left img-thumbnail border-0">
      </div>
      <div class="col-sm">          
        <a href="https://youtu.be/hmUzVf8SC9M" target="_blank">Vidéo de la conférence</a><br>
        <a href="https://www.slideshare.net/tadx-group/tadxjulienfrederictests-automatises" target="_blank">Slides TADX</a>
      </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row align-items-center">
      <div class="col-sm-auto">
          <a href="{{ site.baseurl }}{% post_url 2020-06-16-9-eme-event %}">16/06/2020</a>
        </div>
      <div class="col-sm-auto w-25">
        <img src="./img/event9/VSM.jpg" class="float-left img-thumbnail border-0">
      </div>
      <div class="col-sm">
        <a href="https://www.slideshare.net/ojacques38/realiser-une-cartographie-de-la-chaine-de-valeur-vsm-en-distanciel" target="_blank">Slides d'Olivier</a><br>
        <a href="https://youtu.be/TWuU4Vk-cC0?t=123" target="_blank">Vidéo de la conférence</a><br>
        <a href="https://www.slideshare.net/tadx-group/tadx-16062020-vsm-avec-olivier-jacques" target="_blank">Slides TADX</a>
      </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row align-items-center">
      <div class="col-sm-auto">
          <a href="{{ site.baseurl }}{% post_url 2020-05-05-8-eme-event %}">5/05/2020</a>
        </div>
      <div class="col-sm-auto w-25">
        <img src="./img/event8/logo_on_white.png" class="float-left img-thumbnail border-0">
      </div>
      <div class="col-sm">
        <a href="./img/event8/sketch-note.jpeg" target="_blank">Sketch notes de Horacio</a><br>
        <a href="https://youtu.be/UuJ-SHV4mgo" target="_blank">Vidéo de la conférence</a><br>
        <a href="https://www.slideshare.net/tadx-group/tadx-travail-remote-par-quentin-adam" target="_blank">Slides TADX</a>
      </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row align-items-center">
      <div class="col-sm-auto">
          <a href="{{ site.baseurl }}{% post_url 2020-03-21-7-eme-event %}">8/04/2020</a>
        </div>
      <div class="col-sm-auto w-25">
        <img src="./img/event7/logo-open-serious-game.jpeg" class="float-left img-thumbnail border-0">
      </div>
      <div class="col-sm">
        <a href="https://openseriousgames.org/une-histoire-breve-du-debut-dopenseriousgame-slides/" target="_blank">Slides d'Alexandre</a><br>
        <a href="https://youtu.be/66mHUzGX7Ew" target="_blank">Vidéo de la conférence</a><br>
        <a href="https://www.slideshare.net/tadx-group/tadx-openserious-game-dun-petit-atelier-la-transmission-nationale" target="_blank">Slides TADX</a>
      </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row align-items-center">
      <div class="col-sm-auto">
          <a href="/2020/02/18/6-eme-event.html">10/03/2020</a>
        </div>
      <div class="col-sm-auto w-25">
        <img src="./img/event6.jpeg" class="float-left img-thumbnail border-0">
      </div>
      <div class="col-sm">
        <a href="https://gitlab.com/k33g/2020-meetups/-/blob/master/tadx-tours/GitLab-DevSecOps.pdf" target="_blank">Slides Philippe</a><br>
        <a href="https://gitlab.com/tanuki-workshops/devsecops.sandbox" target="_blank">Code source</a><br>
        <a href="https://www.slideshare.net/tadx-group/tadx-devsecops-par-philippe-charrire" target="_blank">Slides TADX</a>
      </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row align-items-center">
      <div class="col-sm-auto">
          <a href="/2020/01/22/5-eme-event.html">11/02/2020</a>
        </div>
      <div class="col-sm-auto w-25">
        <img src="./img/event5/logo-denis.png" class="float-left img-thumbnail border-0">
      </div>
      <div class="col-sm">
        <a href="https://speakerdeck.com/denisagile/3-phases-et-10-ateliers-pour-lancer-puis-maintenir-un-projet-sain" target="_blank">Slides Denis</a><br>
        <a href="https://www.slideshare.net/tadx-group/tadx-3-phases-et-10-ateliers-pour-lancer-puis-maintenir-un-projet-sain" target="_blank">Slides TADX</a>
      </div>
  </div>
</div>
<hr>
  <div class="container">
    <div class="row align-items-center">
        <div class="col-sm-auto">
            <a href="/2019/12/16/4-eme-event.html">14/01/2020</a>
          </div>
        <div class="col-sm-auto w-25">
          <img src="./img/event4/scrum-life.jpg" class="float-left img-thumbnail border-0">
        </div>
        <div class="col-sm">
          <a href="https://www.slideshare.net/JeanPierreLambert1/une-semaine-dans-ma-peau-de-testeur-agile" target="_blank">Slides Jean-Pierre</a><br>
          <a href="https://www.slideshare.net/tadx-group/tadx-20200114-jplamberttesteuragile" target="_blank">Slides TADX</a>
        </div>
    </div>
  </div>
  <hr>
  <div class="container">
      <div class="row align-items-center">
          <div class="col-sm-auto">
              <a href="/2019/11/11/3-eme-event.html">03/12/2019</a>
            </div>
          <div class="col-sm-auto w-25">
            <img src="./img/GitHub_Logo.png" class="float-left img-thumbnail border-0">
          </div>
          <div class="col-sm">
            <a href="https://docs.google.com/presentation/d/1lO9-B1O24W7pwdwJE0R9YXGhUzZaNU1EmfX_jmfaeXM/" target="_blank">Slides Nabil</a><br>
            <a href="https://github.com/nabilcode/actions-azure-bookstore/pulls" target="_blank">Repository des sources d'exemples</a><br>
            <a href="https://fr.slideshare.net/tadx-group/tadx-automatisation-360-avec-github-actions" target="_blank">Slides TADX</a>
          </div>
      </div>
    </div>
<hr>
<div class="container">
  <div class="row align-items-center">
      <div class="col-sm-auto">
          <a href="/2019/10/15/1-er-event.html">22/10/2019</a>
        </div>
      <div class="col-sm-auto w-25">
        <img src="./img/docker-kube.png" class="float-left img-thumbnail border-0">
      </div>
      <div class="col-sm">
        <a href="https://fr.slideshare.net/tadx-group/tadx-prsentation-conteneurisation" target="_blank">Slides de Sébastien LAPORTE</a><br>
        <a href="https://github.com/seblaporte/tadx-docker-kubernetes" target="_blank">Sources de Sébastien LAPORTE</a><br>
        <a href="https://fr.slideshare.net/tadx-group/tadx-docker-et-kubernetes-expliqus" target="_blank">Slides TADX</a>
      </div>
  </div>
</div>

<div id="liensOlivier" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <ul>
      <li><a href="https://www.youtube.com/watch?v=7etsh4HwG78" target="_blank"><u>Vidéo de Paul Watzlawick</u></a></li>
      <li><a href="https://www.amazon.fr/Management-3-0-Leading-Developers-Developing/dp/0321712471/ref=sr_1_1?dchild=1&keywords=management+3.0&qid=1631110673&sr=8-1" target="_blank"><u>Management 3.0 de Jurgen Appelo</u></a></li>
      <li>Lost in management de François Dupuy (trilogie) : <a href="https://www.amazon.fr/Lost-management-vie-quotidienne-entrepr/dp/2757836625/ref=sr_1_3?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=fran%C3%A7ois+dupuy&qid=1631110787&sr=8-3" target="_blank"><u>1</u></a>, <a href="https://www.amazon.fr/Faillite-pens%C3%A9e-manag%C3%A9riale-Lost-management/dp/2757860925/ref=sr_1_2?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=fran%C3%A7ois+dupuy&qid=1631110787&sr=8-2" target="_blank"><u>2</u></a> et <a href="https://www.amazon.fr/change-pas-entreprises-par-d%C3%A9cret/dp/202134696X/ref=sr_1_2?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=lost+in+management&qid=1631110705&sr=8-2" target="_blank"><u>3</u></a></li>
      <li><a href="https://www.amazon.fr/Reinventing-Organizations-illustr%C3%A9-illustr%C3%A9e-management-ebook/dp/B085F25369/ref=msx_wsirn_v1_12/257-9410263-2884704?pd_rd_w=AbwRd&pf_rd_p=82540c76-abb3-47dd-b05c-76989e20f476&pf_rd_r=XQ0QTZS1TNV3HT76SV2Z&pd_rd_r=041670e7-2eba-45ca-bb47-198bf3ffa1e5&pd_rd_wg=Hz91a&pd_rd_i=B085F25369&psc=1" target="_blank"><u>Reinventing Organizations de Frédéric Laloux</u></a></li>
      <li><a href="https://www.amazon.fr/Optimisez-votre-%C3%A9quipe-Patrick-Lencioni/dp/2892256038/ref=sr_1_1?dchild=1&keywords=les+5+dysfonctionnements+d+une+%C3%A9quipe&qid=1631110862&sr=8-1" target="_blank"><u>Les 5 dysfonctionnements d'une équipe de Patrick Lencioni</u></a></li>
      <li><a href="https://www.agilefluency.org/" target="_blank"><u>Agile Fluency</u></a></li>
      <li><a href="https://www.youtube.com/watch?v=MIh_992Nfes" target="_blank"><u>La vidéo de présentation de Radical Candor</u></a></li>
    </div>
  </div>
</div>
